.menu-button,
.nav-button-more {
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu-button,
  .nav-button-more {
    display: inline-block;
  }
}
.menu-button {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 0;
  background-color: #1537a5;
  background-image: url("icon-burger.svg");
  background-size: 30px 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 5;
  top: 1em;
  right: 1em;
  border-radius: 3px;
  cursor: pointer;
}
.nav-container {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .nav-container {
    text-align: right;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    left: 0;
  }
}
.nav-container nav {
  font-size: initial;
  display: block;
  vertical-align: bottom;
  width: 100%;
  background: #041344;
  transition: all 200ms ease-out;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .nav-container nav {
    position: absolute;
    bottom: 0;
  }
}
.nav-container nav.nav--open {
  opacity: 1;
  transform: translateY(100%);
}
.nav-container nav ul {
  display: inline-block;
  width: 100%;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.nav-container nav ul.nav-submenu {
  width: auto;
  min-width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  background: #041344;
  margin-left: -1em;
  padding: 0.5em 1em;
  opacity: 0;
  transition: all 200ms ease-out;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .nav-container nav ul.nav-submenu {
    padding: 0;
    margin: auto;
    transition-property: transform, opacity;
    overflow: hidden;
    left: auto;
    right: auto;
    background: rgba(255, 255, 255, 0.1);
    height: auto;
    left: 0;
    right: 0;
    opacity: 1;
    margin-top: 2em;
  }
}
.nav-container nav ul.nav-submenu li {
  display: block;
  padding-left: 0;
}
.nav-container nav ul.nav-submenu li > a {
  font-weight: 200;
  font-size: 0.9em;
}
@media screen and (max-width: 1024px) {
  .nav-container nav ul.nav-submenu li > a {
    text-align: center;
  }
}
.nav-container nav li.menu-item {
  display: inline-block;
  margin: 1em 1em;
  text-align: left;
  position: relative;
}
.nav-container nav li.menu-item:hover ul.sub-menu {
  height: auto;
  transform: translateY(0px);
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .nav-container nav li.menu-item {
    margin: 1em 0;
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
}
.nav-container nav a {
  display: inline-block;
  text-decoration: none;
  user-select: none;
  color: white;
  position: relative;
  z-index: 1;
}
.nav-container nav .nav-button-more {
  border: none;
  background: none;
  transition: all 150ms ease-out;
  position: absolute;
  background-image: url("hover-arrow.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: 5px;
  transform: rotate(90deg);
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .nav-container nav .nav-button-more {
    display: inline-block;
  }
}
.nav-container nav .nav-button-more.nav-button-more--open {
  transform: rotate(-90deg);
}
